<a href="https://colab.research.google.com/github/pallavrouth/AI-Bootcamp/blob/main/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python as calculator

In [ ]:
# Addition and subtraction
print(5 + 5)
print(5 - 5)

# Multiplication and division
print(3 * 5)
print(10 / 2)

# Exponentiation
print(4 ** 2)

# Modulo
print(18 % 7)

# How much is your $100 worth after 7 years?
print(100*1.1**7)

# Variable assignment and computations

Income and savings

In [ ]:
# Create a variable savings
savings = 100

# Create a variable income
income = 500

# Print out savings
print(savings)

# Print out expense
expense = income - savings
print(expense)

Making money

In [ ]:
# Create a variable savings
savings = 100

# Create interest rate per year
interest_rate = 10/100
print(interest_rate)

# Calculate growth in savings after a year
growth_in_savings = savings + savings * interest_rate

# Print out result
print(growth_in_savings)

# Calculate growth in savings after 2 years
# growth_in_savings = savings + savings * interest_rate + savings * interest_rate
# growth_in_savings = savings + 2 * ( savings * interest_rate ) 
n_years = 2
growth_in_savings = savings + n_years * ( savings * interest_rate ) 
print(growth_in_savings)

In [ ]:
# Create a variable desc
interest_type = 'simple interest'

# Create a variable profitable
profitable = True

Using the + operator to paste together two strings can be very useful in building custom messages.

To fix the error, you'll need to explicitly convert the types of your variables. More specifically, you'll need str(), to convert a value into a string. str(savings), for example, will convert the integer savings to a string.

Similar functions such as int(), float() and bool() will help you convert Python values into any type.

In [ ]:
# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(growth_in_savings) + ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float = float(pi_string)
print(pi_float)

I started with $100 and now have $120.0. Awesome!
3.1415926

In [ ]:
# Find types of variables
print(type(interest_type))
print(type(profitable))
print(type(growth_in_savings))

# List

Things in my room and prices

In [ ]:
# area variables (in square meters)
laptop = 1200.00
monitor = 100.00
notebook = 3.00
chair = 30.00
table = 100.00

# Create list prices
prices = [laptop,monitor,notebook,chair,table]

# Print areas
print(prices)

A list can contain any Python type. Although it's not really common, a list can also contain a mix of Python types including strings, floats, booleans, etc.

Add meaningful names

In [ ]:
prices = ["laptop",laptop,"monitor",monitor,"notebook",notebook,"chair",chair,"table",table]
print(prices)

More meaningful with list of list

In [ ]:
prices = [["laptop",laptop],["monitor",monitor],["notebook",notebook],["chair",chair],["table",table]]
print(prices)

In [ ]:
type(prices)

Subsetting lists

In [ ]:
prices[0]

In [ ]:
prices[1]

In [ ]:
prices[-1]

Subset and calculate

In [ ]:
# The prices list again
prices = ["laptop",laptop,"monitor",monitor,"notebook",notebook,"chair",chair,"table",table]

# Sum of price of electronics
sum_price_electronics = prices[1] + prices[3]

# Print the variable eat_sleep_area
print(sum_price_electronics)

You saw before that a Python list can contain practically anything; even other lists! To subset lists of lists, you can use the same technique as before: square brackets.

Slicing and dicing

Selecting single values from a list is just one part of the story. It's also possible to slice your list, which means selecting multiple elements from your list. Use the following syntax:

my_list[start:end]

The start index will be included, while the end index is not.

However, it's also possible not to specify these indexes. If you don't specify the begin index, Python figures out that you want to start your slice at the beginning of your list. If you don't specify the end index, the slice will go all the way to the last element of your list.

In [ ]:
laptop = 1200
monitor = 100
notebook = 3
chair = 30
table = 100

prices = [1200,100,3,30,100]

# Use slicing to create electronics
electronics = prices[:2]

# Use slicing to create furniture
furniture = prices[3:]

# Print out downstairs and upstairs
print(electronics)
print(furniture)

Modify list

In [ ]:
prices = ["laptop",laptop,"monitor",monitor,"notebook",notebook,"chair",chair,"table",table]
prices[-2] = "height adjustable table"
print(prices)

In [ ]:
prices = ["laptop",laptop,"monitor",monitor,"notebook",notebook,"chair",chair,"table",table] + ["cup",10]
print(prices)

Finally, you can also remove elements from your list. You can do this with the del statement

x = ["a", "b", "c", "d"]

del(x[1])


The Python code in the script already creates a list with the name areas and a copy named areas_copy. Next, the first element in the areas_copy list is changed and the areas list is printed out. If you hit Run Code you'll see that, although you've changed areas_copy, the change also takes effect in the areas list. That's because areas and areas_copy point to the same list.

If you want to prevent changes in areas_copy from also taking effect in areas, you'll have to do a more explicit copy of the areas list. You can do this with list() or by using [:].

In [ ]:
prices = [1200,100,3,30,100]
prices_copy = prices
prices_copy[0] = 1205
print(prices)

In [ ]:
prices = [1200,100,3,30,100]
prices_copy = prices[:]
prices_copy[0] = 1205
print(prices)

# Functions and packages

Simple functions we already use. Uses the syntax function_name(args)

In [ ]:
print(len(prices))
print(type(savings))

In [ ]:
?len

Multiple arguments

In [ ]:
print(prices)

In [ ]:
print(sorted(prices))

In [ ]:
print(sorted(prices,reverse = True))

Methods are special functions that only operate on objects that has a specific class. For example the append method for list and the upper method for strings. They follow the syntax object.method(args)

Functions are executed as function_name(args) and not necessarily created with objects in minds. They are generally package_name.function_name(args)

In [ ]:
# string to experiment with: room
place = "poolhouse"

# Use upper() on room: room_up
place_up = place.upper()

# Print out room and room_up
print(place)
print(place_up)

# Print out the number of o's in room
print(place.count("o"))

In [ ]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

# Print out how often 14.5 appears in areas
print(areas.count(9.50))

In [ ]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

In [ ]:
# Definition of radius
r = 0.43

# Import the math package
import math

# Calculate C
C = 2*math.pi*r

# Calculate A
A = math.pi*r**2

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

In [ ]:
# Definition of radius
r = 192500

# Import radians function of math package
from math import radians

# Travel distance of Moon over 12 degrees. Store in dist.
phi = radians(12)
dist = r*phi

# Print out dist
print(dist)