<a href="https://colab.research.google.com/github/pallavrouth/AI-Bootcamp/blob/main/Week1classcodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Drive Mounting

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
string1 = "my name is arun das"
print(string1)

In [ ]:
string2 = "i am 30 years old"
print(string2)

In [ ]:
print(type(string1))

In [ ]:
print(type(string2))

In [ ]:
x = 10
print(type(x))

In [ ]:
x = 10.0
print(type(x))

In [ ]:
x = 10.
print(type(x))

In [ ]:
# what's up
# string3 = 'what's up'

string3 = "what's up:"
print(string3)

what's up:

In [ ]:
# logical equal to sign is '=='

x = 2
y = "two"

if x == 2 and y == "two":
  print("2 and two are the same")

isSame = x==y
isNotTheSame = x!=y

2 and two are the same

In [ ]:
print("Are the variables the same: ", isSame)
print("Are the variables different: ", isNotTheSame)

Are the variables the same:  False
Are the variables different:  True

## Data Types

In [ ]:
# Integers
num1 = 10
num2 = 100
print(num1 + num2)

110

In [ ]:
#addtion
print = num1 + num2

print(_result)

In [ ]:
#subtraction
print(num1-num2)

In [ ]:
#multiplication
print(num1*num2)

In [ ]:
#division
print(num1/num2)

In [ ]:
# Float Numbers
a = 10.5
b = 8.9
print(a - b)

In [ ]:
# Complex Numbers
x = 3 + 4j
y = 9 + 8j
print(y - x)

In [ ]:
# Finding the Data Type of a Number

# int
num1 = 100
print("Type of num1: ", type(num1))

# float
num2 = 10.99
print("Type of num2: ", type(num2))

# complex numbers
num3 = 3 + 4j
print("Type of num3: ", type(num3))

In [ ]:
# Checks whether a number belongs to a particular data type and returns true or false based on the result.

num = 100
# true because num is an integer
print(isinstance(num, int))

# false because num is not a float
print(isinstance(num, float))

# false because num is not a complex number
print(isinstance(num, complex))

## Variables

In [ ]:
# Assignment
num = 100
string = "Gonzalez"
print(num)
print(string)

In [ ]:
# Multiple Assignment
x = y = z = 99
print(x)
print(y)
print(z)

In [ ]:
# Multiple Assignment
a, b, c = 5, 6, 7
print(a)
print(b)
print(c)

In [ ]:
# Swaping
x, y = 6, 3
x, y = y, x
print(x)
print(y)

In [ ]:
# Accessing Non-Existent Name
x = 10
y = x + unnamedVariable

## Input/Output

In [ ]:
# Input
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))

# Process Input
mult = num1 * num2
div = num1 / num2

# Output
print(num1, "*", num2, "is", mult)
print("%d / %d is %d" % (num1, num2, div))

## Arithmetic Operations

In [ ]:
# Precedence 
num1 = 10 ** 2 + 1 / 5
num2 = 10 ** (2 + 1) / 5
num3 = 10 ** (2 + 1 / 5)
num4 = 10 ** (2 + 1 // 5)
print(num1)
print(num2)
print(num3)
print(num4)

## Flow Control: Conditional Statements

####   if Statement

In [ ]:
# Example
value = False
if value:
   print("Got a true expression value ",value)
else:
   print("Got a false expression value ",value)

In [ ]:
# Validating the value of a variable
flag = True
if flag == True:
    print("Welcome")
    print("To")
    print("Python Workshop 2021")

In [ ]:
# We can obtain the same result using:
flag = True
if flag:
    print("Welcome")
    print("To")
    print("Python Workshop 2021")

In [ ]:
# Validating if the variable is false
flag = False
if flag:
    print("You Guys")
    print("are")
    print("Awesome")

In [ ]:
# Example with numerical Values
num = 100
if num < 200:
    print("num is less than 200")

#### if-else Statement

In [ ]:
# Example:
num = 22
if num % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

#### if-elif-else statement

In [ ]:
# Example:
value = 200

if value == 200:
   print("value is 200")
elif value == 150:
   print("value is 150")
elif value == 100:
   print("value is 100")
else:
   print("value is not (100,150,200)")


print("All of the if conditions are checked. Program is done!")

value is 200
All of the if conditions are checked. Program is done!

In [ ]:
# Example:
num = 10

if 9 < num < 99:
    print("Two digit number")
elif 99 < num < 999:
    print("Three digit number")
elif 999 < num < 9999:
    print("Four digit number")
else:
    print("number is <= 9 or >= 9999")


# Example:
num2 = 100

if 9 < num2 < 99:
    print("Two digit number")
elif 99 < num2 < 999:
    print("Three digit number")
elif 999 < num2 < 9999:
    print("Four digit number")
else:
    print("number is <= 9 or >= 9999")

Two digit number

In [ ]:

def whatDigitNumber(num):
  """
  This function takes a number and prints whether
  it is a two, or three, or four digit number.

  Inputs:
  num: integer number

  Outputs:
  None
  """
  if 9 < num < 99:
    print("Two digit number")
  elif 99 < num < 999:
      print("Three digit number")
  elif 999 < num < 9999:
      print("Four digit number")
  else:
      print("number is <= 9 or >= 9999")

whatDigitNumber(20)

Two digit number

In [ ]:
whatDigitNumber(200)

Three digit number

In [ ]:
whatDigitNumber(2000)

Four digit number

In [ ]:
# Example:
value = 101
if value == 200:
   print("value is 200")
elif value == 150:
   print("value is 150")
elif value == 100:
   print("value is 100")
else:
   print("value is not (100,150,200)")
print("End!")

In [ ]:
n=11
# ! -> not
isOdd = n%2!=0 # if the number `n mod 2` is not equal to zero, then the number is odd
print("Is the number Odd?: ", isOdd)

Is the number Odd?:  True

In [ ]:
N = int(input().strip())

# First conditin: if the number `n mod 2` is not equal to zero, then the number is odd
if N % 2 != 0:
    print ("Weird")
else:
    if N >= 2 and N <= 5:
        print ("Not Weird")
    elif N >= 6 and N <= 20:
        print ("Weird")
    elif N > 20:
        print ("Not Weird")

In [ ]:
N = int(input().strip())

# First conditin: if the number `n mod 2` is not equal to zero, then the number is odd
if N % 2 != 0:
    print ("Weird")
else:
    if 2 <= N <= 5:
        print ("Not Weird")
    elif 6 <= N <= 20:
        print ("Weird")
    elif N > 20:
        print ("Not Weird")

## Control Flow: Loops

#### for loops

In [ ]:
# Example:
fruits = ['banana', 'apple',  'mango']
count = 0
for fruit in fruits: 
   print(count, fruit)
   count = count + 1

0 banana
1 apple
2 mango

In [ ]:
# Example:
fruits = ['banana', 'apple', 'mango', 'star fruit', "arun's fav fruit"]

#print(fruits)
#print(len(fruits))
#print(range(len(fruits)))

# for eachIndex in [0, 1, 2]:
#   print(eachIndex)

for index in range(len(fruits)):
  print(fruits[index])

banana
apple
mango
star fruit
arun's fav fruit

# When to use colon 

1. whenever there is a control statement
2. whenever we are defining a function
3. whenever we are defining a class
4. ...

Example for control statement

```
if a<b:
    do something
```

```
for a in range(10):
   print(a)
```

Example for function definition

```
def myFirstFunction(parameter1, parameter2):
  output = parameter1 + parameter2
  return output
```

```
class MyFirstClass(parameters):
   def initializeClass(moreParameters):
      do something here
      return something here
   def anotherFunctionInTheClass(parameters):
      do something
```

In [ ]:
# Program to print squares of all numbers present in a list

# List of integer numbers
numbers = [1, 2, 4, 6, 11, 20]

# variable to store the square of each num temporary
sq = 0

# iterating over the given list
for val in numbers:
    # calculating square of each number
    sq = val * val
    # displaying the squares
    print(sq)

In [ ]:
# Using the range function in a for loop:

# Program to print the sum of first 5 natural numbers

# variable to store the sum
sum = 0

# iterating over natural numbers using range()
for val in range(1, 6):
    # calculating sum
    sum = sum + val

# displaying sum of first 5 natural numbers
print(sum)

In [ ]:
# For loop with else block

# The else block will only execute once the loop block has completed
for val in range(5):
	print(val)
else:
	print("The loop has completed execution")

In [ ]:
# Nested for loop: A loop within a loop
for num_outer in range(2):
  print("Inside outer loop")
  for num_inner in range(21, 24):
    print("Inside inner loop")
    print("num_outer:", num_outer,",", "num_inner:", num_inner)
    # print("something else")
  print("\n")

Inside outer loop
Inside inner loop
num_outer: 0 , num_inner: 21
Inside inner loop
num_outer: 0 , num_inner: 22
Inside inner loop
num_outer: 0 , num_inner: 23


Inside outer loop
Inside inner loop
num_outer: 1 , num_inner: 21
Inside inner loop
num_outer: 1 , num_inner: 22
Inside inner loop
num_outer: 1 , num_inner: 23

In [ ]:
outer loop [0, 1]

inner loop [0, 1, 2]

#### while loops

In [ ]:
# Example:

count = 0
while (count < 9):
   print("The count is:", count)
   count = count + 1

In [ ]:
# Example:
num = 1

# loop will repeat itself as long as num < 10 remains true
while num < 10:
    print(num)
    #incrementing the value of num
    num = num + 3

In [ ]:
# Common Error - Infinite while loop
#if yoy run the following code, it will run for infinte times. To stop that you need to interrupt the execution forcefully.
while True:
   print("hello")

In [ ]:
# Nested while loop - A while loop within a while loop
i = 1
j = 5
while i < 4:
    while j < 8:
        print(i, ",", j)
        j = j + 1
        i = i + 1

In [ ]:
# While loop with else block

# We can have a ‘else’ block associated with while loop. The ‘else’ block is optional. It executes only after the loop finished execution.
num = 10
while num > 6:
   print(num)
   num = num - 1
else:
   print("loop is finished")

#### break, continue, and pass statements

In [ ]:
# break

# In this example, we are searching a number ’88’ in the given list of numbers. 
# The requirement is to display all the numbers till the number ’88’ is found and when it is found, 
# terminate the loop and do not display the rest of the numbers.

# program to display all the elements before number 88
for num in [11, 9, 88, 10, 90, 3, 19]:
   print(num)
   if(num == 88):
	   print("The number 88 is found")
	   print("Terminating the loop")
	   break

In [ ]:
# continue

# program to display only odd numbers
for num in [20, 11, 9, 66, 4, 89, 44]:
    # Skipping the iteration when number is even
    if num % 2 == 0:
        continue
    # This statement will be skipped for all even numbers
    print(num)

In [ ]:
# pass

for num in [20, 11, 9, 66, 4, 89, 44]:
    if num % 2 == 0:
        pass
    else:
        print(num)

## List

In [ ]:
# Creating a List

# To create a list all you have to do is to place the items inside a square bracket [] separated by comma ,.

# list of floats
num_list = [11.22, 9.9, 78.34, 12.0]

# list of int, float and strings
mix_list = [1.13, 2, 5, 'itesm', 100, 'hi']

# an empty list
nodata_list = []

# Printing a List
print(num_list)
print(mix_list)
print(nodata_list)

In [ ]:
# Check the number of elements for each list
print(len(num_list))
print(len(mix_list))
print(len(nodata_list))

In [ ]:
# Accesing the items of a list

# a list of numbers
numbers = [11, 22, 33, 100, 200, 300]

# prints 11
print(numbers[0])

# prints 300
print(numbers[5])

# prints 22
print(numbers[1])

In [ ]:
# Common Errors - Using a float number to access an Index

# a list of numbers
numbers = [11, 22, 33, 100, 200, 300]

# error
print(numbers[1.0])

In [ ]:
# Common Errors - Accessing an index out of range

# a list of numbers
numbers = [11, 22, 33, 100, 200, 300]

# error
print(numbers[6])

In [ ]:
# Negative Index to access the list items from the end

# a list of strings
my_list = ['hello', 'world', 'hi', 'bye']

# prints "bye"
print(my_list[-1])

# prints "world"
print(my_list[-3])

# prints "hello"
print(my_list[-4])

In [ ]:
# Getting a sublist in Python using slicing

# list of numbers
n_list = [1, 2, 3, 4, 5, 6, 7]

# list items from 2nd to 3rd
print(n_list[1: 3])

# list items from beginning to 3rd
print(n_list[: 3])

# list items from 4th to end of list
print(n_list[3 :])

# Whole list
print(n_list[:])

In [ ]:
# List Operations - Adding new elements to List

# list of numbers
n_list = [1, 2, 3, 4]

# 1. adding item at the desired location
# adding element 100 at the fourth location
n_list.insert(3, 100)

# list: [1, 2, 3, 100, 4]
print(n_list)

# 2. adding element at the end of the list
n_list.append(99)

# list: [1, 2, 3, 100, 4, 99]
print(n_list)

# 3. adding several elements at the end of list
# the following statement can also be written like this:
# n_list + [11, 22]
n_list.extend([11, 22])

# list: [1, 2, 3, 100, 4, 99, 11, 22]
print(n_list)

In [ ]:
# List Operations - Updating elements in a list

# list of numbers
n_list = [1, 2, 3, 4]

# Changing the value of 3rd item
n_list[2] = 100

# list: [1, 2, 100, 4]
print(n_list)

# Changing the values of 2nd to fourth items
n_list[1 : 4] = [11, 22, 33]

# list: [1, 11, 22, 33]
print(n_list)

In [ ]:
# List Operations - Deleting elements in a list

# list of numbers
n_list = [1, 2, 3, 4, 5, 6]

# Deleting 2nd element
del n_list[1]

# list: [1, 3, 4, 5, 6]
print(n_list)

# Deleting elements from 3rd to 4th
del n_list[2 : 4]

# list: [1, 3, 6]
print(n_list)

# Deleting the whole list
del n_list

In [ ]:
# List Operations - Deleting elements using remove(), pop() and clear() methods
# remove(item): Removes specified item from list.
# pop(index): Removes the element from the given index.
# pop(): Removes the last element.
# clear(): Removes all the elements from the list.

# list of chars
ch_list = ['A', 'F', 'B', 'Z', 'O', 'L']

# Deleting the element with value 'B'
ch_list.remove('B')

# list: ['A', 'F', 'Z', 'O', 'L']
print(ch_list)

# Deleting 2nd element
ch_list.pop(1)

# list: ['A', 'Z', 'O', 'L']
print(ch_list)

# Deleting all the elements
ch_list.clear()

# list: []
print(ch_list)

In [ ]:
# Other Operations
some_list = ['physics', 'math', 1997, 2000];
print (len(some_list))
some_list = some_list + ['AI', 2018]
print(some_list)
print(some_list * 2)

## Tuple

In [ ]:
# Creating Tuples
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = 'a', 'b', 'c', 'd'
print(type(tup3))

# Accessing Values
print(len(tup1))
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1 : 5]: ", tup2[1 : 5])

In [ ]:
# Common Errors - Modifying a value
tup1[0] = 100

## String

In [ ]:
# Creating a String

# lets see the ways to create strings in Python
str = 'Python2021'
print(str)

str2 = "Chaitanya"
print(str2)

# multi-line string
str3 = """Welcome to 
   Python 2021 training"""
print(str3)

str4 = '''This is a tech 
   blog'''
print(str4)

In [ ]:
# Accessing elements in a string
str = "Kevin"

# displaying whole string
print(str)

# displaying first character of string
print(str[0])

# displaying third character of string
print(str[2])

# displaying the last character of the string
print(str[-1])

# displaying the second last char of string
print(str[-2])

In [ ]:

a = [0, 1, 2, 3]
print(a[-1] == a [3])

True

In [ ]:
# String Operations - Slicing operation
str = "Star Wars is Amazing"

# displaying whole string
print("The original string is: ", str)

# slicing 10th to the last character
print("str[9 :]: ", str[9 :])

# slicing 3rd to 6th character
print("str[2 : 6]: ", str[2 : 6])

# slicing from start to the 9th character
print("str[: 9]: ", str[: 9])

# slicing from 10th to second last character
print("str[9 : -1]: ", str[9 : -1])

In [ ]:
# String Operations - Concatenation
str1 = "One"
str2 = "Two"
str3 = "Three"

# Concatenation of three strings
print(str1 + str2 + str3)

In [ ]:
# String Operations - Repeating a String
str = "ABC"

# repeating the string str by 3 times
print(str * 3)

In [ ]:
# String Operations - Membership Opertions
str = "Welcome to Python 2021 training"
str2 = "Welcome"
str3 = "Chaitanya"
str4 = "XYZ"

# str2 is in str? True
print(str2 in str)

# str3 is in str? False
print(str3 in str)

# str4 not in str? True
print(str4 not in str)

In [ ]:
# String Operations - Relational Operators on Strings
# The relational operators works on strings based on the ASCII values of characters.

# The ASCII value of a is 97, b is 98 and so on.
# The ASCII value of A is 65, B is 66 and so on.

str = "ABC"
str2 = "aBC"
str3 = "XYZ"
str4 = "XYz"

# ASCII value of str2 is > str? True
print(str2 > str)

# ASCII value of str3 is > str4? False
print(str3 > str4)

In [ ]:
# Convert String to List and List to String
string = "Geeks for Geeks"
      
# Splitting a string into list
list_string = string.split(' ')
print(list_string)
  
# Join list of strings into one
new_string = '-'.join(list_string)
print(new_string)

## Dictionaries

In [ ]:
# Creating a dictionary
mydict = {'StuName': 'Alex', 
          'StuAge': 30, 
          'StuCity': 'Austin'}

print(mydict)
# print("Student Age is:", mydict['StuAge'])
# print("Student City is:", mydict['StuCity'])

{'StuName': 'Alex', 'StuAge': 30, 'StuCity': 'Austin'}

In [ ]:
mydict = {'Names': ['Alex', "Arun"], 
          'Ages': [30, 30], 
          'Citys': ["Martha's Wineyard", "Austin"]}

In [ ]:
mydict['Ages'][1]

30

In [ ]:
# Common Errors - Looking for non-existing keys
print("Student Age is:", mydict['StuClass'])

In [ ]:
# Changing values in a Dictionary
mydict = {'StuName': 'Ajeet', 'StuAge': 30, 'StuCity': 'Agra'}
print("Student Age before update is:", mydict['StuAge'])
print("Student City before update is:", mydict['StuCity'])

mydict['StuAge'] = 31
mydict['StuCity'] = 'Noida'
print("Student Age after update is:", mydict['StuAge'])
print("Student City after update is:", mydict['StuCity'])

In [ ]:
# Adding new key-pair values
mydict = {'StuName': 'Steve', 'StuAge': 4, 'StuCity': 'Agra'}
mydict['StuClass'] = 'Jr.KG'
print("Student Name is:", mydict['StuName'])
print("Student Class is:", mydict['StuClass'])

In [ ]:
# Looping through a dictionary
mydict = {'StuName': 'Steve', 'StuAge': 4, 'StuCity': 'Agra'}
for e in mydict:
  print("Key:",e,"Value:",mydict[e])

In [ ]:
# Updation dictionaries
mydict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
mydict['Age'] = 8; # update existing entry
mydict['School'] = "DPS School"; # Add new entry
print (mydict)

In [ ]:
# Useful functions
print(mydict.keys())
print(mydict.values())
mydict.clear()
print(mydict)

In [ ]:
# Creating dictionaries from list
L1 = ['a','b','c','d']
L2 = [1,2,3,4]
d = dict(zip(L1,L2))
print(d)

## Functions

In [ ]:
# Lets define a function for adding numbers:
def add(num1, num2):
    return num1 + num2

# Outside function
sum1 = add(100, 200)
sum2 = add(8, 9)
print(sum1)
print(sum2)

In [ ]:
# Using default arguments in a function:

# Now that we know how to declare and call a function, lets see how can we use the default arguments. 
# By using default arguments we can avoid the errors that may arise while calling a function without 
# passing all the parameters. 

# default argument for second parameter
def add(num1, num2=1):
    return num1 + num2

# Outside function
sum1 = add(100, 200)
sum2 = add(8)  # used default argument for second param
sum3 = add(100)  # used default argument for second param
print(sum1)
print(sum2)
print(sum3)

In [ ]:
# Defining function
def printinfo( student_dict ):
    print("Info of Student:")
    print("Name:", student_dict['name'])
    print("Class:", student_dict['class'])
    print("School:", student_dict['school'])
    print("Age:", student_dict['age'])
    return;

# Outside function
studentName = input("Enter name: ")
studentAge = input("Enter age: ")
studentClass = input("Enter class: ")
studentSchool = input("Enter school: ")

some_student = {'name': studentName, 'age': studentAge, 'class': studentClass, 'school': studentSchool}
printinfo(some_student)

In [ ]:
# Example of recursion in Python to
# find the factorial of a given number

def factorial(num):
    """This function calls itself to find
    the factorial of a number"""

    if num == 1:
        return 1
    else:
        return (num * factorial(num - 1))


num = 5
print("Factorial of", num, "is:", factorial(num))

In [ ]:
# Lamba Example 1
lam = lambda a : a + 10
print(lam(5))

In [ ]:
# Lambda Example 2
adder = lambda x, y: x + y
print (adder (1, 2))

## Handling Files

In [ ]:
# myfile.txt contains:
# I am learning Python programming.
# Python is an interesting language.

# Open file
myfile = open("/content/drive/MyDrive/Google Colab Files/myfile.txt", "r")

# Process file
for line in myfile:
  print(line, end = "")

# Close file
myfile.close()

In [ ]:
# StudentInfo.csv contains:
# ID,Name,Grade 
# 109,John,A 
# 289,Zara,B 
# 157,Richard,C 
# 322,Sophia,A 

myfile = open("/content/drive/MyDrive/Google Colab Files/StudentInfo.csv", "r")

# Discarding the first line and initialize list
myfile.readline()
mylist = []

# Reading file and storing each line in a list
for line in myfile:
  line = line[: len(line) - 1]  # Remove newline
  mylist.append(line)

print("After Reading:", mylist)

# Separating the values in each line in the list to access them
for index in range(len(mylist)):
  mylist[index] = mylist[index].split(",")

print("After Processing:", mylist)

In [ ]:
keys = ['id', 'name', 'grade']
dict(zip())

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Google Colab Files/StudentInfo.csv")

In [ ]:
df.columns

In [ ]:
df[df['Grade'] == 'A']

In [ ]:
df.query("Grade in ['A']")

In [ ]:
# Printing students with grade A. Indexing: ID = 0, name = 1, and grades = 2
def printStudentInfo(studentInfo):
  print("ID:", studentInfo[0], end = ", ")
  print("Name:", studentInfo[1], end = ", ")
  print("Grade:", studentInfo[2])

for student in mylist:
  if student[2] == 'A':
    printStudentInfo(student)

## Exception Handling

In [ ]:
# Example:
try:
   fh = open("testfile", "w")
   fh.write("This is my test file for exception handling!!")
except IOError:
   print("Error: can\'t find file or read data")
else:
   print("Written content in the file successfully")
   fh.close()

In [ ]:
# Example:
try:
   fh = open("testfile", "r")
   fh.write("This is my test file for exception handling!!")
except IOError:
   print("Error: can\'t find file or read data")
else:
   print("Written content in the file successfully")

## Modules: NumPy

#### Impoting and Creating a numPy

In [ ]:
# Import numPy
import numpy as np

# Create a list
my_list = [1, 2, 3, 4]
print("my_list:", my_list)

# Use that list to create a numPy array
np_array = np.array(my_list)
print("np_array:", np_array)
print("type of np_array:", type(np_array))

#### Built-in Methods of numPy

arange: Return evenly spaced values within a given interval.

In [ ]:
np.arange(10)

In [ ]:
np.arange(0, 10)

In [ ]:
np.arange(0, 11, 2)

In [ ]:
np.arange(5)

zeros and ones: Generate arrays of zeros or ones

In [ ]:
np.zeros(3)

In [ ]:
np.zeros((5, 5))

In [ ]:
np.ones(3)

In [ ]:
np.ones((3, 3))

linspace: Returns numbers evenly spaced samples, calculated over the interval

In [ ]:
np.linspace(0, 9, 10)

In [ ]:
np.linspace(0, 5, 20)

In [ ]:
np.linspace(0, 5, 21)

eye: Creates an identity matrix

In [ ]:
np.eye(4)

random.rand: Creates an array of the given shape and populates it with random samples from a uniform distribution over [0, 1)

In [ ]:
np.random.seed(7)
np.random.rand(2)

In [ ]:
np.random.rand(2)

In [ ]:
np.random.rand(5, 5)

randn: Returns a sample (or samples) from the "standard normal" distribution [σ = 1]. Unlike rand which is uniform, values closer to zero are more likely to appear.

In [ ]:
np.random.randn(2)

In [ ]:
np.random.seed(7)
np.random.randn(5, 5)

randint

In [ ]:
np.random.randint(1, 100)

In [ ]:
np.random.randint(1, 100, 10)

seed

In [ ]:
np.random.seed(42)
np.random.rand(4)

In [ ]:
np.random.seed(42)
np.random.rand(4)

#### Array Attributes and Other Methods

In [ ]:
np_array = np.arange(25)
np_random_array = np.random.randint(0, 50, 10)
print(np_array)
print(np_random_array)

Reshape: Returns an array containing the same data with a new shape.

In [ ]:
np_array.reshape(5, 5)

max, min, argmax, argmin: useful methods for finding max or min values. Or to find their index locations using argmin or argmax

In [ ]:
np_random_array

In [ ]:
np_random_array.max()

In [ ]:
np_random_array.argmax()

In [ ]:
np_random_array.min()

In [ ]:
np_random_array.argmin()

Shape: Is an attribute that arrays have (not a method)

In [ ]:
# Vector
np_array.shape

In [ ]:
# Notice the two sets of brackets
np_array.reshape(1, 25)

In [ ]:
np_array.reshape(1, 25).shape

In [ ]:
np_array.reshape(25, 1)

In [ ]:
np_array.reshape(25, 1).shape

dtype: Grabs the data type of the object in the array

In [ ]:
np_array.dtype

In [ ]:
np_array = np.array([1.2, 3.4, 5.6])
np_array.dtype