<a href="https://colab.research.google.com/github/pallavrouth/AI-Bootcamp/blob/main/intermediatepy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

Why do I need a dictionary?

An exercise : create 2 lists and get a specific information of second list

In [ ]:
# Definition of cities and population
city_names = ['houston','san antonio','dallas','austin','fort worth']
city_pop = [2.31,1.51,1.33,0.95,0.87]

In [ ]:
# at what position is san antonio
indx_sa = city_names.index('san antonio')
print(indx_sa)

1

In [ ]:
# use that position to get the population of san antonio
print(city_pop[indx_sa])

1.51

In [ ]:
# print
print('Population of San Antonio is ',city_pop[indx_sa]," million approx")

Population of San Antonio is  1.51  million approx

Easier to acheive this with dictionaries

In [ ]:
# Definition of cities and population
city_names = ['houston','san antonio','dallas','austin','fort worth']
city_pop = [2.31,1.51,1.33,0.95,0.87]

# From string in countries and capitals, create dictionary europe
texas = {'houston': 2.31, 'san antonio': 1.51, 'dallas': 1.33, 'austin': 0.95, 'fort worth': 0.87}

# Print europe
print(texas)

{'houston': 2.31, 'san antonio': 1.51, 'dallas': 1.33, 'austin': 0.95, 'fort worth': 0.87}

In [ ]:
print(texas.keys())
print(texas.values())

dict_keys(['houston', 'san antonio', 'dallas', 'austin', 'fort worth'])
dict_values([2.31, 1.51, 1.33, 0.95, 0.87])

In [ ]:
print(texas['san antonio'])

1.51

Add entry to dictionary

In [ ]:
texas['El paso'] = 0.67
print(texas)
print('El paso' in texas)

{'houston': 2.31, 'san antonio': 1.51, 'dallas': 1.33, 'austin': 0.95, 'fort worth': 0.87, 'El paso': 0.67}
True

In [ ]:
texas['El paso'] = 0.68
print(texas)

{'houston': 2.31, 'san antonio': 1.51, 'dallas': 1.33, 'austin': 0.95, 'fort worth': 0.87, 'El paso': 0.68}

In [ ]:
del(texas['El paso'])
print(texas)

{'houston': 2.31, 'san antonio': 1.51, 'dallas': 1.33, 'austin': 0.95, 'fort worth': 0.87}

Dictionary of dictionaries

In [ ]:
texas = {'houston': {'pop':2.31,'area':669,'mayor':'sylvester turner'},
         'san antonio': {'pop':1.51,'area':505,'mayor':'ron nirenberg'},
         'dallas': {'pop':1.33,'area':383,'mayor':'eric johnson'},
         'austin': {'pop':0.95,'area':271,'mayor':'steve adler'}}

In [ ]:
print(texas['san antonio']['mayor'])

ron nirenberg

In [ ]:
add_data = {'pop':1.51,'area':505,'mayor':'ron nirenberg','acode':210}
texas['san antonio'] = add_data
print(texas)

{'houston': {'pop': 2.31, 'area': 669, 'mayor': 'sylvester turner'}, 'san antonio': {'pop': 1.51, 'area': 505, 'mayor': 'ron nirenberg', 'acode': 210}, 'dallas': {'pop': 1.33, 'area': 383, 'mayor': 'eric johnson'}, 'austin': {'pop': 0.95, 'area': 271, 'mayor': 'steve adler'}}


# Comparison, logical, membership and identity operators

**Equality**

Are 2 quantities that are of the same type same?

In [ ]:
# check if two strings are the same
# is pallav = Pallav
# for strings python compares the ascii values
my_name = "Pallav"
print("Ironman" == my_name)
print("pallav" == my_name)
print("PALLAV" ==  my_name)

False
False
False

In [ ]:
print(ord("P"))
print(ord("I"))

80
73

Store the result of the comparison in an object

In [ ]:
same_name = "Ironman" == my_name
print(same_name)

False

In fact you can check if this object is true or false

In [ ]:
same_name == False

True

In [ ]:
my_age = 29
print(my_age == 25)

False

In most cases comparing the equality of objects that are different yeilds FALSE

In [ ]:
print('Pallav' == 28)
print([1,2,3] == 2)

False
False

Except booleans and integers

In [ ]:
print(True == 1)
print(False == 0)

True
True

The reverse of equal to is not equal to

In [ ]:
print("Pallav" != "Ironman")

True

**Greater than or less than**

In [ ]:
# is 2 greater than 1
print(2 > 1)
print(100 > 100 - 2)
print("Pallav" > "Pallav Routh")
print("Pallav" > "Ironman")

True
True
False
True

**Greater or Less than equal to**

In [ ]:
#Is 3 greater than equal to 2?
print(3 >= 2)
print(3 <= 2)
print('Pallav' >= 'pallav')

True
False
False

Multiple comparison conditions using logical operators `and` and `or`

In [ ]:
# Define variables
laptop = 1000
monitor = 100

# laptop costlier than $500 and monitor cheaper than $200? are both true
print(laptop > 500 and monitor < 200)

# laptop costlier than $500 and monitor cheaper than $200? is one of them true
print(laptop > 500 or monitor < 50)

True
True

**Membership operators** 

Python’s membership operators test for membership in a sequence

In [ ]:
# is monitor in this sequence
prices = ["laptop","monitor","notebook","chair","table"]
print("monitor" in prices)
print("mug" in prices)
print("mug" not in prices)

True
False
True

**Also meaningful for strings**

In [ ]:
print("p" in "pallav")

True

In [ ]:
2 is 'two'

False

**Important : equality versus identity**

In [ ]:
list1 = [1,2,3]
list2 = [1,2,3]
print(list1 == list2)
print(list1 is list2)

True
False

Equality is about whether these two objects represent the same value, whether they're essentially the same thing.

The `is` operator asks about identity.

Unlike `==`, the is operator doesn't even look at the objects that x and y point to. Instead, is asks if the variables x and y are pointing to the same object.

The `is` operator answers the question do two object references actually point to the same object? The expression x `is` y checks the memory location that x and y are pointing to (by their id) and checks to see if those locations are the same.

In [ ]:
print(id(list1),id(list2))

139930068445216 139930069038336

The context in which they are used sometimes values. its more common to use is when we are say checking the class or special values

In [ ]:
some_value = None
print(some_value is None)

my_name = "Pallav"
class_of_object = type(my_name)
print(class_of_object)
print(class_of_object is str)

True
<class 'str'>
True

# Control flow

**Only if**

In [ ]:
device = 'apple'

if device == 'apple':
  print('I love this device')

In [ ]:
device = 'samsung'

if device == 'apple':
  print('I love this device')

**Not meaningful. Add else.**

In [ ]:
device = 'samsung'

if device == 'apple':
  print('I love this device')
else :
  print('I hate this device')

**Multiple conditions**

In [ ]:
#device = 'samsung'
device = 'motorola'

if device == 'apple':
  print('I love this device')
elif device == 'samsung':
  print('I like this device')
else :
  print('I hate this device')

**Slighly complex example**

*Meal plan*

On monday if I get out at 5 I make veg salad. But if get out after 7, I get Chik Fil A. On Tuesday, no matter when I get out, I get tacos. On Wed, if I get out at 5, I make chicken salad. But if I get out at 7, I get McD. On Thrs, if I get out at 5, I make pasta. But, if I get out at 7, I get indian food. On Friday, no matter when I get out, I get wingstop. On any day, if I am very hungry, I get 2 portions. Otherwise I get one portion.

In [ ]:
day_of_week = "Tues" # character
time_of_day =  6  # int
very_hungry =  True  # boolean

if day_of_week == "Mon":
  if time_of_day > 5 and time_of_day < 7:
    if very_hungry == True:
      print('Make 2 portions of veg salad.')
    else :
      print('Make 1 portion of veg salad.')
  elif time_of_day > 7:
    if very_hungry == True:
      print('Buy 2 Spicy chicken sandwich.')
    else :
      print('Buy 1 Spicy chicken sandwich.')
elif day_of_week == "Tues":
  if very_hungry == True:
    print('Buy 2 Big Macs')
  else:
    print('Buy 1 Big Mac')

Buy 2 Big Macs

# Loops

**While loop**

In [ ]:
temp = 75

# The AC can only go up to 68. 
while temp > 68:
  print('Its too hot. Turn up the AC!')
  print(temp)
  temp = temp - 1

**While loop mixed with conditions**

In [ ]:
temp = 75

# The AC can only go up to 68. 
while temp > 68:
  # if above 72 say something
  if temp > 72:
    print('Its too hot. Please reduce the temperature.')
    print(temp)
    temp = temp - 1
  elif temp > 70 and temp < 73:
    print('Ahh much better. But I still need it to be cooler.')
    print(temp)
    temp = temp - 1
  else :
    print('Perfect. But I wouldnt mind if you reduced it further')
    print(temp)
    temp = temp - 1

**For loop**

In [ ]:
prices = [1200,100,3,30,100]

for item_price in prices:
  print(item_price)

Using a for loop to iterate over a list only gives you access to every list element in each run, one after the other. If you also want to access the index information (so where the list element you're iterating over is located) you can use `enumerate()`.

In [ ]:
for item,item_price in enumerate(prices):
  print("Item " + str(item) + ' costs $' + str(item_price))

Correct the item index

In [ ]:
for item,item_price in enumerate(prices):
  item_corrected = item + 1
  print("Item " + str(item_corrected) + ' costs $' + str(item_price))

Add meaningful names

In [ ]:
item_names = ["laptop","monitor","notebook","chair","table"]

for item,item_price in enumerate(prices):
  item_name = item_names[item]
  print(item_name)

In [ ]:
item_names = ["laptop","monitor","notebook","chair","table"]

for item,item_price in enumerate(prices):
  item_name = item_names[item]
  print(item_name + ' costs $' + str(item_price))

**Iterating over multiple lists**

In [ ]:
item_names = ["laptop","monitor","notebook","chair","table"]
item_prices = [1200,100,3,30,100]

for item_name,item_price in zip(item_names,item_prices):
  print(item_name + ' costs $' + str(item_price))

**Iterate over list of lists**

In [ ]:
# price list of lists
prices = [["laptop",1200],["monitor",100],["notebook",3],["chair",30],["table",100]]
         
# Build a for loop from scratch
for set in prices:
    print(set[0] + ' costs $' + str(set[1]))